 /* ============================================= */
 /* Default Color */
 /* ============================================= */

$main-color: #E6E0E0;
$color-black: #222222;


// Nav Color

$nav-bar: #36486b;
$nav-botton: #076b70;


// Anchor tag

$anchor-link: #007c7c;
$anchor-visited: #fd7856;
$anchor-hover: #4da2bb;
$anchor-active: #80e8d1;


// skill section

$skill-background: #4da2bb;
$skill-background-p: #51ddfc;


// Social color

$linkedin-color: #0077b5;
$google-color: #dd4b39;
$github-color: #24292E;


// Extra color

$color-primary: #58e1c1;
$color-error: #e4757a;
$color-info: #927bc1;
$color-success: #63cc82;
$col-1: #deb2ee;
$col-2: #7ee6fd;
$col-3: #88d9a0;
$col-5: #ec9fa3;
$col-6: #fd9f85;
$color-sky: #b7d7e8;


// Basic Text Color

$text-gray: #222222;
$text-gray-lighter: #666666;
$text-gray-lightest: #757575;
$text-red: #ee3322;
$text-pink:#e40c78;
$text-orange: #f47f16;
$text-orange-lighter: #f7ad19;
$text-blue: #0f65ef;
$text-purple: #6645dd;
$text-green: #68af15;





 /* ============================================= */
 /* Media Query Points */
 /* ============================================= */

$breakpoints: (
    'sm': 576px,
    'med': 768px,
    'lg': 992px,
);